<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <div id="content-wrapper">
        <div class="inner clearfix">
            <section id="main-content">
                {{ content }}
            </section>

            <aside id="sidebar">
                {% for page in site.pages %}
                {% if page.title %}
                    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
                {% endfor %}
            </aside>
        </div>
    </div>
    {% include footer.html %}

  </body>

</html>
